$blue: #00d3d3;
$black: #000;
$black2: #1b1b1b;
$white: #fff;
$green1: #00b300;
$green2: #32cd32;
$gray1: #fbfbff;
$bg: #e5e5e5;
$gray2: #999;
$primary: #212738;
$secondary: #ededed;
$lineColor: #ffb17a;
$red: #C20A28;
// $red: #fc6d6d;
